@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");

.form_container {
  border: 2px solid black;
  margin: 30px auto 30px;
  border-radius: 5px;
  width: 20%;
  overflow: hidden;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}

#caption {
  margin-bottom: 35px;
  font-size: 12px;
}

.form button {
  margin-bottom: 20px;
}
