.title h1 {
  font-weight: normal;
  letter-spacing: 3px;
  text-align: center;
  font-size: 2.5rem;
}

.title h2 {
  font-weight: normal;
  font-size: 2.5rem;
}

.title button {
  background-color: white;
  border: none;
}

.addButton:hover {
  transform: scale(1.05);
}
